---
- name: Add BeeGFS 7.0 client repo for RHEL 7
  copy:
    src: beegfs-rhel7.repo
    dest: /etc/yum.repos.d/beegfs-rhel7.repo
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_facts['distribution'] == "RedHat"
    - ansible_facts['distribution_major_version'] == "7"

- name: Add BeeGFS 7.0 client repo for RHEL 6
  copy:
    src: beegfs-rhel6.repo
    dest: /etc/yum.repos.d/beegfs-rhel6.repo
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_facts['distribution'] == "RedHat"
    - ansible_facts['distribution_major_version'] == "6"

- name: Install packages required for BeeGFS
  yum:
    name: "{{ required_packages }}"

- name: Install BeeGFS packages
  yum:
    name: "{{ bgfs_packages }}"

- name: Enable quota tracking
  lineinfile:
    path: /etc/beegfs/beegfs-client.conf
    regexp: '^quotaEnabled'
    line: 'quotaEnabled                  = true'
  notify:
    - restart beegfs-client

- name: Enable extended file attributes
  lineinfile:
    path: /etc/beegfs/beegfs-client.conf
    regexp: '^sysXAttrsEnabled'
    line: 'sysXAttrsEnabled              = true'
  when: ansible_facts['kernel'] is version('3.0', '>=')
  notify:
    - restart beegfs-client

- name: Enable ACLs
  lineinfile:
    path: /etc/beegfs/beegfs-client.conf
    regexp: '^sysACLsEnabled'
    line: 'sysACLsEnabled                = true'
  when: ansible_facts['kernel'] is version('3.0', '>=')
  notify:
    - restart beegfs-client

- name: Set BeeGFS mount point to /bgfs
  copy:
    content: '/bgfs /etc/beegfs/beegfs-client.conf'
    dest: /etc/beegfs/beegfs-mounts.conf
    owner: root
    group: root
    mode: 0644
  notify:
    - restart beegfs-client

- name: Apply connection filter file for eth only connected clients
  block:
    - name: Configure connection filter file for ETH only clients
      copy:
        content: "10.201.0.0/16\n"
        dest: /etc/beegfs/client-networks.conf
        owner: root
        group: root
        mode: 0644
    - name: Apply the connection filter file for ETH only clients
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connNetFilterFile'
        line: 'connNetFilterFile             = /etc/beegfs/client-networks.conf'
      notify:
        - restart beegfs-client
  when: ansible_facts['interfaces']|join(' ') is not search('ib0')

- name: Apply connection filter file for IB connected clients
  block:
    - name: Configure connection filter file for IB connected clients
      copy:
        content: "10.203.0.0/16\n"
        dest: /etc/beegfs/client-networks.conf
        owner: root
        group: root
        mode: 0644
    - name: Apply the connection filter file for IB connected clients
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connNetFilterFile'
        line: 'connNetFilterFile             = /etc/beegfs/client-networks.conf'
      notify:
        - restart beegfs-client
  when:
    - ansible_facts['interfaces']|join(' ') is search('ib0')
    - ansible_facts['ib0']['ipv4']['address'] is search('10.203.*') or
      ansible_facts['ib0']['ipv4_secondaries']['address'] is search('10.203.*')

- name: IB specific client tuning settings
  block:
    - name: Set connRDMABufNum variable for IB clients
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connRDMABufNum'
        line: 'connRDMABufNum                = 22'
      notify:
        - restart beegfs-client
    - name: Set connRDMABufSize variable for IB clients
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connRDMABufSize'
        line: 'connRDMABufSize               = 32768'
      notify:
        - restart beegfs-client
  when:
    - ansible_facts['interfaces']|join(' ') is search('ib0')
    - ansible_facts['ib0']['ipv4']['address'] is search('10.203.*') or
      ansible_facts['ib0']['ipv4_secondaries']['address'] is search('10.203.*')

- name: OPA specific client tuning settings
  block:
    - name: Set connRDMABufNum variable for OPA clients
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connRDMABufNum'
        line: 'connRDMABufNum                = 12'
      notify:
        - restart beegfs-client
    - name: Set connRDMABufSize variable for OPA clients
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connRDMABufSize'
        line: 'connRDMABufSize               = 65536'
      notify:
        - restart beegfs-client
  when:
    - ansible_facts['interfaces']|join(' ') is search('ib0')
    - ansible_facts['ib0']['ipv4']['address'] is search('10.204.*') or

- name: Set client autobuild parameters
  copy:
    src: beegfs-client-autobuild.conf
    dest: /etc/beegfs/beegfs-client-autobuild.conf
    owner: root
    group: root
    mode: 0644
  notify:
    - rebuild client module
    - restart beegfs-client

- name: Start and enable beegfs-helperd service
  systemd:
    name: beegfs-helperd
    state: started
    enabled: yes

- name: Start and enable beegfs-client service which will mount BeeGFS
  systemd:
    name: beegfs-client
    state: started
    enabled: yes
