---
- name: Add BeeGFS 7.0 client repo
  copy:
    src: beegfs-rhel7.repo
    dest: /etc/yum.repos.d/beegfs-rhel7.repo
    owner: root
    group: root
    mode: 0644

- name: Install packages required for BeeGFS
  yum:
    name: "{{ required_packages }}"

- name: Install BeeGFS packages
  yum:
    name: "{{ bgfs_packages }}"

- name: Copy over initial BeeGFS client config file
  copy:
    src: beegfs-client.conf
    dest: /etc/beegfs/beegfs-client.conf
    owner: root
    group: root
    mode: 0644

- name: Set BeeGFS mount point to /bgfs
  copy:
    content: '/bgfs /etc/beegfs/beegfs-client.conf'
    dest: /etc/beegfs/beegfs-mounts.conf
    owner: root
    group: root
    mode: 0644

- name: Apply connection filter file for eth only connected clients
  copy:
    content: '10.201.0.0/16'
    dest: /etc/beegfs/client-networks.conf
    owner: root
    group: root
    mode: 0644
  when: ansible_facts['interfaces']|join(' ') is not search('ib0')

- name: Apply connection filter file for IB connected clients
  copy:
    content: '10.203.0.0/16'
    dest: /etc/beegfs/client-networks.conf
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_facts['interfaces']|join(' ') is search('ib0')
    - ansible_facts['ib0']['ipv4']['address'] is search('10.203.*') or
      ansible_facts['ib0']['ipv4_secondaries']['address'] is search('10.203.*')

- name: IB specific client tuning settings
  block:
    - lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connRDMABufNum'
        line: 'connRDMABufNum                = 22'
    - lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connRDMABufSize'
        line: 'connRDMABufSize               = 32768'
  when:
    - ansible_facts['interfaces']|join(' ') is search('ib0')
    - ansible_facts['ib0']['ipv4']['address'] is search('10.203.*') or
      ansible_facts['ib0']['ipv4_secondaries']['address'] is search('10.203.*')

- name: Set client autobuild parameters
  copy:
    src: beegfs-client-autobuild.conf
    dest: /etc/beegfs/beegfs-client-autobuild.conf
    owner: root
    group: root
    mode: 0644

- name: Build the client kernel module
  command: /etc/init.d/beegfs-client rebuild
